{{ '2b.bundle.css' | asset_url | stylesheet_tag }}
{% assign diaper_handle = shop.metafields.offspring.diaper_bundle %}
{% assign diaper_products = collections[diaper_handle].products %}
<script>
  const shopify_customer_id = '{{customer.id}}';
  const customerEmail = '{{customer.email}}';
  const customerPhoneNumber = '{{customer.phone}}';
  const customerFistName = '{{customer.first_name | capitalize}}';
  const shop_money_format = "{{ shop.money_format }}";
  const diaperProducts = {{diaper_products | json}};

  const allOrders = [
    {% for order in customer.orders %}
    {
      {% if order.cancelled %}
      cancelled: 'cancelled_order',
      {% else %}
      cancelled: '',
      {% endif %}
      id: {{ order.id }},
      createdAt: '{{ order.created_at | date: "%a, %b %d, %y" }}',
      name: '{{ order.name }}',
      nameHandlize: '{{ order.name | handleize }}',
      fulfillmentStatus: '{{ order.fulfillment_status }}',
      financialStatus: '{{ order.financial_status }}',
      {%if order.fulfillment_status == "fulfilled"%}
      paymentStatus: 'Delivered',
      {% else %}
      {%if order.financial_status == "paid"%}
      paymentStatus: 'Payment Received',
      {%else%}
      paymentStatus: '{{order.financial_status_label}}',
      {%endif%}
      {%endif%}
      financialStatusLabel: '{{order.financial_status_label}}',
      trackingNumbers: [
        {% for item in order.line_items %}
        '{{ item.fulfillment.tracking_number | link_to: item.fulfillment.tracking_url  }}',
        {% endfor %}
      ],
      items: [
        {% for item in order.line_items %}
        '{{ item.title | capitalize }}',
        {% endfor %}
      ],
      totalPrice: '{{ order.total_price | money }}',
    },
    {% endfor %}

  ];
console.log(allOrders);
</script>
<div id="content" class="page-width">
  <div id="react-embedded-shopify"></div>

</div>
<div id="shipping-address" class="modal">
  <div class="modal-container">
    <div class="info-title">CHANGE SHIPPING ADDRESS</div>
    <div class="row">
      <div class="col-md-6">
        <label class="label-text">First name</label>
        <input type="text" class="input-field" />
      </div>
      <div class="col-md-6">
        <label class="label-text">Last name</label>
        <input type="text" class="input-field" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="label-text">Country/Region*</label>
        <input type="text" class="input-field" />
      </div>
      <div class="col-md-6">
        <label class="label-text">Postal Code*</label>
        <input type="text" class="input-field" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="label-text">Unit Number</label>
        <input type="text" class="input-field" />
      </div>
      <div class="col-md-8">
        <label class="label-text">Street Address 1*</label>
        <input type="text" class="input-field" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="label-text">Street Address 2</label>
        <input type="text" class="input-field" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="label-text">City</label>
        <input type="text" class="input-field" />
      </div>
      <div class="col-md-6">
        <label class="label-text">State/provice</label>
        <input type="text" class="input-field" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="label-text">Phone number</label>
        <input type="text" class="input-field" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="custom-check"><input type="checkbox" /> <span class="small-text"><em>This is primary
              address</em></span></label>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="close-modal primary-btn">Cancel</a>
      <input type="submit" class="action-btn" value="Save" />
    </div>

  </div>
  <div class="modal-overlay"></div>
</div>


<div id="change-email-address" class="modal">
  <div class="modal-container">
    <div class="info-title">CHANGE EMAIL ADDRESS</div>
    <div class="row">
      <div class="col-md-12">
        <label class="label-text">Email address</label>
        <input type="email" class="input-field" />
      </div>
    </div>


    <div class="modal-footer">
      <a href="#" class="close-modal primary-btn">Cancel</a>
      <input type="submit" class="action-btn" value="Save" />
    </div>

  </div>
  <div class="modal-overlay"></div>
</div>
<script defer type="module" src="{{ "2b.bundle.js" | asset_url }}"></script>
