<!-- essentials-steps.liquid -->
<div class="{% if section.settings.fullwidth %}container-fluid{% else %}container{% endif %}">
  <div class="section-block">
    {%- include 'pattern-heading' -%}
    <div class="services-wrapper dots-negative">
      <div class="services-slider row" id="service-list-{{ section.id }}"
           data-rows="{{section.settings.rows}}"
           data-slidesToShow="{{section.blocks.size}}"
           data-slidestoscroll="{{section.blocks.size}}"
           data-arrows="{{ section.settings.arrows }}"
           data-dots="{{ section.settings.dots }}" 
           data-draggable="{{ section.settings.draggable }}" 
           data-infinite="{{ section.settings.infinite }}" 
           data-section-id="{{ section.id }}" 
           data-section-type="slickCarousels">
        {%- for block in section.blocks -%}
        <div class="col services-item carousel__slide-wrapper--{{block.id}}" {{ block.shopify_attributes }}>
          <div class="media pat-service service-2 text-center">
            <div class="media-body">
              <div class="mb-4 iconx15">
                {% if block.settings.image != blank %}
                	<img class="lazyload" src="{% include 'srcBlank' %}" data-src="{{ block.settings.icon | img_url: '300x'}}" />
                {% else %}
                	{{ block.settings.icon }}
                {% endif %}
              </div>
              <h5 class="mt-0 mb-2">{{ block.settings.title }}</h5>
              {{ block.settings.des }}
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
    {%- if section.blocks.size == 0 -%}
    {%- include 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>

<style>
  .pat-service h5{
      font-weight: 600;
      }
  .pat-service h5>span{
    color:var(--g-main);
      }
  
  @media (min-width:992px){
    .services-wrapper .slick-slider{
      -webkit-touch-callout: text;
      -webkit-user-select: text;
      -khtml-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }

  #shopify-section-diaper-steps .service-2{
    padding: 0 10px;
  }
  
  #shopify-section-diaper-certification img{
  	max-width:100px;
  }
</style>

{% schema %}
{
  "name": "Essentials Steps",
  "class": "index-section mb-0 py-5 ss-service",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Service"
    },
    {
      "type": "textarea",
      "id": "des",
      "default": "Service description",
      "label": "HTML / Description"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Full width",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "draggable",
      "label": "Draggable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Infinite",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "service",
      "name": "Service",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "Service heading"
        },
        {
          "type": "textarea",
          "id": "des",
          "label": "HTML / Description",
          "default": "Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "icon",
          "label": "HTML Icon"
        }
      ]
    }
  ]
}
{% endschema %}