<!-- featured-collections.liquid -->
<div class="{% if section.settings.fullwidth %}container-fluid{% else %}container{% endif %}">
  <div class="section-block">
    {%- include 'pattern-heading' -%}
    <div class="collectionlist-wrapper">
      {%- if section.settings.rows == '2' -%}
      {%- assign slidesToShow = section.blocks.size | divided_by:2 -%}
      {%- else -%}
      {%- assign slidesToShow = section.blocks.size -%}
      {%- endif -%}
      <div class="collectionlist-slider row mx-n{{section.settings.gaps}}" id="collection-list-{{ section.id }}"
           data-rows="{{section.settings.rows}}"
           data-slidesToShow="{{slidesToShow}}"
           data-slidestoscroll="{{section.blocks.size}}"
           data-arrows="{{ section.settings.arrows }}"
           data-dots="{{ section.settings.dots }}" 
           data-draggable="{{ section.settings.draggable }}" 
           data-infinite="{{ section.settings.infinite }}" 
           data-section-id="{{ section.id }}" 
           data-section-type="slickCarousels">
        {%- for block in section.blocks -%}
        <div class="col px-{{section.settings.gaps}} collectionlist-item carousel__slide-wrapper--{{block.id}}" {{ block.shopify_attributes }}>
          {%- assign featured_collection = collections[block.settings.collection] -%}
          {%- assign featured_image = block.settings.image -%}
          {%- include 'collection-grid-item' -%}
        </div>
        {%- endfor -%}
      </div>
    </div>
    {%- if section.blocks.size == 0 -%}
    {%- include 'no-blocks' -%}
    {%- endif -%}
  </div>
</div>
<style>
  @media (min-width:1200px){
    .collectionlist-wrapper{padding:0 40px}
  }
  .collectionlist-wrapper img{
    width:100%;
    transition: all ease .45s
  }
</style>

{% schema %}
{
  "name": "Collection list",
  "class": "index-section",
  "max_blocks": 10,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Collection list"
    },
    {
      "type": "textarea",
      "id": "des",
      "label": "HTML / Description"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "Full width",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "arrows",
      "label": "Arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "draggable",
      "label": "Draggable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "infinite",
      "label": "Infinite",
      "default": true
    },
    {
      "type": "range",
      "id": "gaps",
      "min": -1,
      "max": 5,
      "step": 1,
      "label": "Gutters size",
      "info": "-1 is global gutter value (Default)",
      "default": 1
    },
    {
      "type": "select",
      "id": "rows",
      "label": "Rows",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1 row"
        },
        {
          "value": "2",
          "label": "2 rows"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "category": "Collection",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
